* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#auth-form {
    height: 100vh;
    background-color: #17a2b8;

    .container #auth-form-row #auth-form-column #auth-form-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;

        #auth-form-form {
            padding: 20px;
        }

        #auth-form-form #register-link {
            margin-top: -85px;
        }
    }
}

body {
    .header {
        color: salmon;
        background: wheat;
        padding: 30px;
        margin: 30px;
        font-size: 30px;
        font-weight: bold;
    }

    .footer {
        color: wheat;
        background: salmon;
        padding: 30px;
        margin: 30px;
        font-size: 30px;
        font-weight: bold;
    }
}