<div class="home">
    <h1>Home page</h1>
    {{> component}}
    <h3>
        Username: {{user.username}}
    </h3>
    <h3>
        Password: {{user.password}}
    </h3>
    </a>
</div>

<script src="/js/app.js"></script>