* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #EAEAEA; }

#main-wrapper {
  max-width: 1000px;
  margin: 0 auto; }

#auth-form {
  height: 100vh;
  background-color: #17a2b8; }
  #auth-form .container #auth-form-row #auth-form-column #auth-form-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA; }
    #auth-form .container #auth-form-row #auth-form-column #auth-form-box #auth-form-form {
      padding: 20px; }
    #auth-form .container #auth-form-row #auth-form-column #auth-form-box #auth-form-form #register-link {
      margin-top: -85px; }

#header .logo {
  color: #EAEAEA;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  text-shadow: 2px 2px #000; }
  #header .logo:hover {
    color: #EAEAEA;
    text-decoration: none; }

#header .user {
  font-size: 22px;
  border: none;
  outline: none;
  background: unset;
  color: #EAEAEA; }
