<form action="/expense/update/{{expense._id}}" method="get">
    <a href="/">
        <h1>Home</h1>
    </a>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="Name"
                value={{expense.name}}>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Price</label>
            <input type="number" min="1" class="form-control" id="inputPassword4" name="price" placeholder="Price"
                value={{expense.price}}>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>